Repository voxpupuli/modulesync_config, pull requests merged in 2023-04, with the labels that each got.

#818 require modulesync 2.6 or newer
  Gemfile
Labels: enhancement

#791 anchor most .pmtignore patterns to the root of the module
  moduleroot/.pmtignore.erb
Labels: bug

#821 Release 5.5.0
  CHANGELOG.md
  moduleroot/.msync.yml.erb
Labels: skip-changelog

#824 Gemfile: Pin to Puppet ~> 7.24
  config_defaults.yml
Labels: backwards-incompatible
