Repository voxpupuli/modulesync_config, pull requests merged in 2024-07, with the labels that each got.

#913 Also create a GitHub release page upon doing a release
  moduleroot/.github/release.yml.erb
  moduleroot/.github/workflows/release.yml.erb
Labels: enhancement

#916 voxpupuli-test: Require 9.0
  config_defaults.yml
Labels: enhancement

#917 Release 9.1.0
  CHANGELOG.md
  moduleroot/.msync.yml.erb
Labels: skip-changelog

#918 spec_helper.rb: Fix typo in template
  moduleroot/spec/spec_helper.rb.erb
Labels: bug
