Repository voxpupuli/modulesync_config, pull requests merged in 2024-09, with the labels that each got.

#925 Gemfile: Allow Puppet 7 and 8
  config_defaults.yml
  moduleroot/Gemfile.erb
Labels: enhancement

#929 Delete CONTRIBUTING.md
  CONTRIBUTING.md
  moduleroot/.github/CONTRIBUTING.md.erb
Labels: enhancement

#928 Release 9.2.0
  CHANGELOG.md
  moduleroot/.msync.yml.erb
Labels: skip-changelog

#930 Delete .devcontainer/README.md
  config_defaults.yml
Labels: bug

#931 bump release.yml workflow to v3 to fix compat. with puppet8
  moduleroot/.github/workflows/release.yml.erb
Labels: enhancement

#932 Release 9.3.0
  CHANGELOG.md
  moduleroot/.msync.yml.erb
Labels: skip-changelog
